$primaryColor: darkblue;

#flight_heading {
  margin-top: 100px;
  margin-bottom: 25px;
}

#Flight_Table {
  table {
    width: 100%;
    margin-bottom: 50px;
    border-collapse: collapse;
    table-layout: fixed;
  }

  th,
  td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    width: 200px;
  }

  th {
    font-weight: bold;
    background-color: white !important;
    color: $primaryColor;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  tr:hover {
    background-color: #f1f8ff;
  }
}

#book_flight_button {
  width: 100%;
  padding: 12px;
  background: $primaryColor;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: lighten($primaryColor, 10%);
  }
}
.Flights {
    padding: 0 30px; 
  }
  

















  .search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  
    .search-input {
      flex: 1;
      padding: 8px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 14px;
    }
  }
  