$backgroundColor: white;
$primaryColor: darkblue;

.signup_container {
    width: 40%;
    margin-left: auto;
    padding: 20px;
    margin: 50px auto;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

#head_signup {
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

#logo {
    display: block;
    margin: 0 auto;
    height: 70px;
    padding-left:15px;
}

#GoTologin{
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

#GoTologin:hover{
    color:blue;
}

#label_signup{
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

#signup_input, #cus_prov{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submit_button {
    display: block;
    width: 100%;
    background-color: $primaryColor;
    color: white !important;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    border: none;
    transition: background 0.3s ease;
}

#submit_button:hover {
    background-color: darken($primaryColor, 10%);
}
